@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Slide In */
@keyframes slide_in {
    from {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
  }
  
  /* Slide Out */
  @keyframes slide_out {
    from {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
    to {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
    }
  }
  
  /* Reverse Slide In */
  @keyframes revslide_in {
    from {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
  }
  
  /* Reverse Slide Out */
  @keyframes revslide_out {
    from {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
    to {
      opacity: 0;
      filter: blur(5px);
      transform: translateX(100%);
    }
  }

.slidein {
    animation: slide_in 1s ease-in-out forwards;
  }
  
  .slideout {
    animation: slide_out 1s ease-in-out forwards;
  }
  
  .revslidein {
    animation: revslide_in 1s ease-in-out backwards;
  }
  
  .revslideout {
    animation: revslide_out 1s ease-in-out backwards;
  }
  
  .cardBackground{
    background-image: url(/images/cardBg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .montserratFont {
    font-family: 'Montserrat' , 'sans-serif';
  }
  .hide-image{
    visibility: hidden;
    display: none;
  }